* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.7em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

a {
    outline: 0;
    color: #16A4E0;
}

a,
a:hover {
    -webkit-transition: color 0.33s;
       -moz-transition: color 0.33s;
        -ms-transition: color 0.33s;
         -o-transition: color 0.33s;
            transition: color 0.33s;
}

a:hover,
header.site h2 a:hover,
header.site a[class^="icon-"]:hover {
    color: #0888BF;
}

article time {
    display: block;
    color: #aaa;
    font-size: 0.9rem;
    line-height: 1.6em;
}

article h1 {
    margin: 0px;
}

article h1 a {
    color: inherit;
}

article footer {
    margin-top: 20px;
    color: #aaa;
    font-size: 0.7em;
}

ul.unstyled,
ol.unstyled {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

table.labels td {
    padding: 5px 10px;
}

table.labels td:first-child {
    padding-left: 0px;
}

header.site {
    position: fixed;
    padding-top: 25px;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    border-right: solid 1px #ccc;
    overflow: auto;
}

header.site h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}

header.site h2 a {
    color: inherit;
    font-weight: 600;
}

header.site a {
    text-decoration: none;
}

header.site a[class^="icon-"] {
    color: #666;
    font-size: 2.2em;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
       -moz-transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
        -ms-transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
         -o-transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
            transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
}

header.site a[class^="icon-"]:hover {
    font-size: 3em;
    line-height: 1.28em;
    height: 1.28em;
    -webkit-transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
       -moz-transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
        -ms-transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
         -o-transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
            transition: height 0.25s, color 0.25s, font-size 0.25s, line-height 0.25s;
}

header.site ul {
    text-align: center;
}

header.site li {
    text-align: center;
    display: block;
}

header.site a.avatar {
    display: block;
    margin: 0px auto 10px auto;
    width: 80px;
    height: 80px;

    -webkit-box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset 0 0 2px 1px rgba(0,0,0,0.05);
       -moz-box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset 0 0 2px 1px rgba(0,0,0,0.05);
        -ms-box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset 0 0 2px 1px rgba(0,0,0,0.05);
         -o-box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset 0 0 2px 1px rgba(0,0,0,0.05);
            box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset 0 0 2px 1px rgba(0,0,0,0.05);

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

header.site a.avatar:hover {
    -webkit-box-shadow: inset 0px 0px 3px 1px #333;
       -moz-box-shadow: inset 0px 0px 3px 1px #333;
        -ms-box-shadow: inset 0px 0px 3px 1px #333;
         -o-box-shadow: inset 0px 0px 3px 1px #333;
            box-shadow: inset 0px 0px 3px 1px #333;
}

section.content {
    margin-left: 250px;
    padding: 40px 7%;
}

section.content h1 {
    margin-top: 0px;
}

section.content h2,
section.content h3,
section.content h4,
section.content h5,
section.content h6 {
    margin-top: 2.1rem;
    margin-bottom: 0.3rem;
}

section.content .post {
    margin-top: 1.3rem;
}

.posts article h1 {
    font-size: 1.2em;
}

h1 a,
h1 a:hover {
    text-decoration: none;
}

.posts li {
    display: block;
    margin: 0px 0px 20px;
}


@media (max-width:768px) {

body {
    font-size: 16px;
}

header.site {
    height: 90px;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: 0px;
    padding: 10px 15px;
    text-align: center;
    border: 0;
    border-top: solid 1px #ccc;
}

header.site:before {
    content: "";
    position: absolute;
    bottom: 90px;
    left: 0px;
    right: 0px;
    height: 40px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(75%, #ffffff));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0),#ffffff 75%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0),#ffffff 75%);
    background: -o-linear-gradient(top, rgba(255,255,255,0),#ffffff 75%);
    background: linear-gradient(top, rgba(255,255,255,0),#ffffff 75%);
}

header.site .wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

header.site h2,
header.site section,
header.site a.avatar {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 20px;
    bottom: 0px;
}

header.site h2 {
    right: auto;
    left: 100px;
}

header.site section {
    left: auto;
    right: 30px;
}

header.site a.avatar {
    left: 30px;
    top: 15px;
    bottom: auto;
    margin: 0px;
    width: 60px;
    height: 60px;
    background-size: 60px;
    display: block;
}

header.site a[class^="icon-"] {
    font-size: 1.8em;
    width: 2em;
}

header.site a[class^="icon-"]:hover {
    font-size: 2.5em;
    width: 1.44em;
    line-height: 1em;
}

header.site li {
    display: inline-block;
    margin-left: 10px;
}

header.site li:first-child {
    margin-left: 0px;
}

header.site a {
    display: block;
}

section.content {
    margin: 0px;
    padding-bottom: 120px;
}

}


@media (max-width:600px) {

header.site a.avatar {
    left: 15px;
}

header.site h2 {
    left: 90px;
}

header.site section {
    right: 15px;
}

header.site a[class^="icon-"] {
    font-size: 1.7em;
    width: 1.1em;
}

header.site a[class^="icon-"]:hover {
    font-size: 2em;
    width: 0.95em;
    line-height: 1em;
}

}

@media (max-width:480px) {

body {
    font-size: 16px;
}

header.site {
    position: absolute;
    height: 90px;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: 0px;
    padding: 12px 15px;
    text-align: center;
    border: 0;
    border-bottom: solid 1px #ccc;
}

header.site .wrapper {
    position: static;
    margin: auto;
    text-align: left;
    width: 275px;
}

header.site h2,
header.site a.avatar,
header.site section {
    position: static;
    text-align: left;
    display: inline-block;
    margin: 0px;
}

header.site .stack {
    display: inline-block;
}

header.site h2,
header.site section {
    width: auto;
    display: block;
}

header.site h2 {
    padding-left: 4px;
}

header.site a.avatar {
    margin: 0px 20px 0px 0px;
    float: left;
}

header.site a[class^="icon-"] {
    font-size: 1.4em;
    width: 1.2em;
    height: 1.7em;
}

section.content {
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 150px;
}

}
